<!--boton de seleccion de animaciones de Otto-->
<div class="column-container">
<button class='column-button1' mat-button [matMenuTriggerFor]="optionsMenu">Lista de Instrucciones</button>
<mat-menu #optionsMenu="matMenu" yPosition="below">
  <button mat-menu-item (click)="saveValue(0)">turnRight</button>
  <button mat-menu-item (click)="saveValue(1)">turnLeft</button>
  <button mat-menu-item (click)="saveValue(2)">bend</button>
  <button mat-menu-item (click)="saveValue(3)">shakeLeg</button>
  <button mat-menu-item (click)="saveValue(4)">updown</button>
  <button mat-menu-item (click)="saveValue(5)">swing</button>
  <button mat-menu-item (click)="saveValue(6)">swingFix</button>
  <button mat-menu-item (click)="saveValue(7)">tiptoeSwing</button>
  <button mat-menu-item (click)="saveValue(8)">moonwalker</button>
  <button mat-menu-item (click)="saveValue(9)">crusaito</button>
  <button mat-menu-item (click)="saveValue(10)">flapping</button>
  <button mat-menu-item (click)="saveValue(11)">happy</button>
  <button mat-menu-item (click)="saveValue(12)">sad</button>
  <button mat-menu-item (click)="saveValue(13)">victory</button>
  <button mat-menu-item (click)="saveValue(14)">angry</button>
  <button mat-menu-item (click)="saveValue(15)">sleeping</button>
  <button mat-menu-item (click)="saveValue(16)">confused</button>
  <button mat-menu-item (click)="saveValue(17)">fart</button>
  <button mat-menu-item (click)="saveValue(18)">fail</button>
  <button mat-menu-item (click)="saveValue(29)">avoidObstacles</button>
  <button mat-menu-item (click)="saveValue(20)">followMode</button>
  <button mat-menu-item (click)="saveValue(21)">retrieve</button>
</mat-menu>
<!--Direccion a la segunda ventana-->
<p>Instruccion Seleccionada: {{ options[indice] }}</p>
  <button class='column-button2'(click)="goToWindows2()">Ver Metricas</button>

</div>

<!--Aviso de instruccion seleccionada-->


