<!--boton de seleccion de animaciones de Otto-->
<div class="column-container">
<button class='column-button1' mat-button [matMenuTriggerFor]="optionsMenu">Lista de Instrucciones</button>
<mat-menu #optionsMenu="matMenu" yPosition="below">
  <button mat-menu-item (click)="saveValue(0)">home</button>
  <button mat-menu-item (click)="saveValue(1)">walkForward</button>
  <button mat-menu-item (click)="saveValue(2)">walkBackward</button>
  <button mat-menu-item (click)="saveValue(3)">turnRight</button>
  <button mat-menu-item (click)="saveValue(4)">turnLeft</button>
  <button mat-menu-item (click)="saveValue(5)">bend</button>
  <button mat-menu-item (click)="saveValue(6)">shakeLeg</button>
  <button mat-menu-item (click)="saveValue(7)"> moonwalker</button>
  <button mat-menu-item (click)="saveValue(8)"> crusaito</button>
  <button mat-menu-item (click)="saveValue(9)"> flapping</button>
  <button mat-menu-item (click)="saveValue(10)"> swingFix</button>
  <button mat-menu-item (click)="saveValue(11)"> tiptoeSwing</button>
  <button mat-menu-item (click)="saveValue(12)"> updown</button>
  <button mat-menu-item (click)="saveValue(13)"> happy</button>
  <button mat-menu-item (click)="saveValue(14)"> sad</button>
  <button mat-menu-item (click)="saveValue(15)"> victory</button>
  <button mat-menu-item (click)="saveValue(16)"> sleeping</button>
  <button mat-menu-item (click)="saveValue(17)"> confused</button>
  <button mat-menu-item (click)="saveValue(18)"> fart</button>
  <button mat-menu-item (click)="saveValue(19)"> fail</button>
  <button mat-menu-item (click)="saveValue(20)"> followMode</button>
  <button mat-menu-item (click)="saveValue(21)"> retrieve</button>
  <button mat-menu-item (click)="saveValue(22)"> avoidObstacles</button>
</mat-menu>
<!--Direccion a la segunda ventana-->

  <button class='column-button2'(click)="goToWindows2()">Ver Metricas</button>

</div>

<!--Aviso de instruccion seleccionada-->
<p>Instruccion Seleccionada: {{ options[indice] }}</p>

<!--Logica para la seleccion de protocolo-->
<div class="protocolo-selector">
  <button (click)="toggleProtocol()">Protocolo</button>
</div>

<div class="protocolo-info">
  <div class="protocolo-seleccionado">Protocolo seleccionado: {{ protocoloSeleccionado }}</div>
  <div class="protocolo-por-defecto">Protocolo por defecto: CoAP</div>
</div>
