
<div class="contenedor">
  <div class="columna">
    <!--Mostrara los valores obtenidos de los tiempos de respuesta para MQTT-->>
    <h1>MQTT (ms)</h1>
    <ul>
      <li *ngFor="let valor of Vecmqtt">{{ valor }}</li>
    </ul>
  </div>
<!--Mostrara los valores obtenidos de los tiempos de respuesta para CoAP-->>
  <div class="columna">
    <h1>CoAP (ms)</h1>
    <ul>
      <li *ngFor="let valor of Veccoap">{{ valor }}</li>
    </ul>
  </div>
</div>



<div class="boton">
  <button (click)="goToWindows1()">Volver</button>
</div>




